* {
  font-family: "Open Sans", sans-serif;
}
.expense-item {
  display: flex;
  width: inherit;
  gap: 2rem;
  background: #101820FF;
  color: white;
  border-radius: 10px;
  padding-block: 1rem;
  padding-inline: 2rem;
  align-items: center;
  justify-content: space-between;
}
.expense-item-des {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  align-items: center;
}
.expense-item-des > h2 {
  font-weight: 10;
}
.expense-item-date {
  color: rgb(153, 152, 152);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expense-item-date > p {
  font-size: 0.8;
}
.calendar-day {
  font-size: 1.5rem;
  color: white;
}

.expense-item-amount,
.expense-item-title-change {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.404);
}