.filter-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  align-items: center;
}
.filter-container > select {
  padding: 0.5rem;
  padding-inline: 1rem;
  border: 3px solid rgba(0, 0, 0, 0.171);
  background-color: rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  font-weight: bold;
}